.left-side {
    max-width: 474.67px;
    max-height: 822px;
    margin-left: 75px;
    padding: 42px;
    text-align: left;
    border: 1px solid #F6E5DE;
    border-radius: 8px;
    background: #F6E5DE;
}
.wellcome {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    max-width: 420px;
    margin-top: 16px;
}
h4 {
    margin-bottom: 8px;
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}
.description {
    font-size: 1rem;
}
.gursha-points, .calendar-alert, .delivery {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    margin-top: 16px;
}
.create-account {
    max-width: 677.34px;
    max-height: 1001.13px;
    padding: 32px;
    border: 1px solid #F6E5DE;
    border-radius: 8px;
    background: hsla(0, 0%, 100%);
}
