.create-account {
    
    margin-left: 150px;
}
.form-header {
    max-width: 581.33px;
    max-height: 64px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form-header h2 {
    color: #221A16;
}
.form-header p {
    color: #58413D;
}
.buttons {
    display: flex;
    gap: 12px;
    max-width: 581.33px;
    max-height: 48px;
    margin-top: 12px;
}
.login, .signup {
    max-width: 279.65px;
    max-height: 48px;
    align-items: center;
    padding: 12px 54.82px;
    border: 1px solid #F6E5DE;
    border-radius: 8px;
    background: #FCEAE4;
}
.signup-1 {
    max-width: 279.65px;
    max-height: 48px;
    align-items: center;
    font-family: monospace;
    padding: 12px 54.82px;
    border: 1px solid #F6E5DE;
    border-radius: 8px;
    background: #FCEAE4;
}
.signup:hover {
    background-color: #F6E5DE;
}
.login:hover {
    background-color: #F6E5DE;
}
